<div [class.bg-dark]="isDark" [class.text-light]="isDark" style="min-height: 100vh;">
  <nav class="navbar navbar-expand-lg" [class.navbar-dark]="isDark" [class.bg-dark]="isDark" [class.navbar-light]="!isDark" [class.bg-light]="!isDark">
    <div class="container">
      <a class="navbar-brand" routerLink="/books">
        <i class="fa-solid fa-book me-2"></i>RedRiver
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="nav" class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto" *ngIf="auth.isLoggedIn()">
          <li class="nav-item"><a class="nav-link" routerLink="/books">Böcker</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/quotes">Mina citat</a></li>
        </ul>

        <div class="d-flex gap-2 align-items-center">
          <button class="btn btn-outline-secondary btn-sm" (click)="toggleTheme()">
            <i class="fa-solid" [class.fa-moon]="!isDark" [class.fa-sun]="isDark"></i>
          </button>

          <button *ngIf="auth.isLoggedIn()" class="btn btn-outline-danger btn-sm" (click)="logout()">
            <i class="fa-solid fa-right-from-bracket me-1"></i>Logga ut
          </button>

          <a *ngIf="!auth.isLoggedIn()" class="btn btn-primary btn-sm" routerLink="/login">Login</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="container py-4">
    <router-outlet></router-outlet>
  </div>
</div>
